*{
    background-color:blanchedalmond;
}

.main-body {
    padding: 5%;
    display: flex;
    justify-content: center;
}

.leftMainBodyTextContainer {
 display: flex;
}

.rightMainBodyEtchSketchContinaer{
    background-color: black;
    aspect-ratio: 1/1;
    margin-left: 1%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    min-height: 70vh;
    min-width: 25vw;
}

.etchSketchtile{
    aspect-ratio: 1/1;
    flex-shrink: 2;
}